fieldset {
    display: block;
    width  : 80%;
}

* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(-45deg, rgba(0, 255, 242, 0.7), rgba(120, 2, 255, 0.4));
    height    : 100vh;
    height    : auto;
}

::-webkit-scrollbar {
    width           : 0.5em;
    background-color: rgba(0, 255, 242, 0.45);
}

::-webkit-scrollbar-thumb {
    border-radius: 0.1em;
    background   : rgba(98, 0, 255, 0.7);
}

::-webkit-scrollbar-corner {
    background-color: rgb(0, 0, 0);
}

.small {
    position: relative;
    top: 14px;
    left: 80%;
}

.autoComplete {
    position: relative;
}

.show-list {
    border          : 2px solid #ddd;
    border-radius   : 3px;
    text-align      : left;
    position        : absolute;
    background-color: #fff;
    z-index: 10000 !important;
    display: inline-block;
}

.show-list a {
    display      : block;
    width        : 100%;
    margin       : 0 auto;
    padding      : 10px 0;
    padding-left : 15px;
    padding-right: 15px;
    color        : #777;
    border-radius: 3px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    z-index: 10001 !important;
}

.show-list a:hover {
    background-color: #fff;
    font-weight     : bold;
    color           : #555;
    font-size       : 1rem;
    background-color: #eee;
}

.hidden {
    display: none;
}


/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
 
/* //////////////////////////write your code below///////////////////////////////// */
/*  */

/*  */
/* //////////////////////////write your code above///////////////////////////////// */

/* ////////////////////this should be at the end of the all code////////////////////////// */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
